/* style.css */

h1.title {
    background-image: url(logos/Rlogo.png);
    background-repeat: no-repeat;
    background-position: 35% 35%;
    background-size: auto 35px; /* Adjust the size as needed */
}

.styled-output .cell-output {
  background-color: #edf5a7;
  border-radius: 4px;
  border: black 1px solid; 
  padding: 10px;
  font-family: monospace;
}

.cell-output {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  font-family: monospace;
}

img.shadowed {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
}
