/*-- scss:defaults --*/
// Base document colors
$link-color: #587d21;
$navbar-bg: #3e3f3a;
$navbar-fg: white;
$navbar-hl: #587d21;
$code-color: #587d21;

// Base sizes
$font-size-root: 11pt;


/*-- scss:rules --*/

h5 {
  font-weight: bold;
}

.blockquote {
  color: #25350c;
}

code {
  font-size: 100%;
}

.gt-table {
  font-size: $font-size-root;
}

#quarto-document-content {
  background-color: #ffffff !important;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 1em;
  margin-top: 1em;
}

#quarto-margin-sidebar {
  background-color: #ffffff !important;
  margin-top: 1em;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 0.5em;
}

body {
  font-size: 16px;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(images/background_wide.png);
  background-repeat: no-repeat;
}

//
//
// ===========================
// NAVIGATION & HEADER
// ===========================

// Main navbar styling
.navbar {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  background-color: #ececec;
  border-bottom: 1px solid body-mix(50%);
  
  &.bg-primary {
    border: 1px solid body-mix(50%);
  }

  &.bg-dark {
    background-color: $background;
    border: 1px solid body-mix(50%);
  }

  &.bg-light {
    background-color: body-mix(16%);
  }

  &.fixed-top {
    border-width: 0 0 1px;
  }

  &.fixed-bottom {
    border-width: 1px 0 0;
  }
}


// Footer navigation
.nav-footer {
  border-top: 1px solid body-mix(50%);

  a:hover {
    color: $foreground;
  }
}

.nav-footer-center {
  min-height: unset;

  p,
  ol,
  ul,
  dl {
    margin-bottom: 0;
  }

  .toc-actions {

    ol,
    ul {
      padding-left: 0;
    }
  }
}

.navbar-logo {
  max-height: 2em;
}

// Navbar navigation items with animated underlines
.navbar-nav {

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    color: $foreground;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $foreground;
  }

  .nav-link {
    color: body-mix(50%);
  }

  a.nav-link,
  a.nav-link:after,
  a.nav-link:before {
    transition: all .75s;
  }

  a.nav-link {
    position: relative;
  }

  a.nav-link:hover:after {
    width: 80%;
  }

  a.nav-link.active:after,
  a.nav-link.active:hover:after {
    border-top: .2em solid $foreground;
  }

  a.nav-link:hover:after,
  a.nav-link:after {
    border-top: .1em solid $foreground;
  }

  a.nav-link:after {
    position: absolute;
    border-top: .1em solid body-mix(90%);
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
  }

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    font-weight: bolder;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $foreground;
  }
}

// Responsive navbar adjustments
@media (max-width: 992px) {
  .navbar-expand-lg {

    a.nav-link.active:after,
    a.nav-link.active:hover:after,
    a.nav-link:hover:after,
    a.nav-link:after {
      border-top: 0 solid $foreground;
    }
  }
}

.navbar-brand {
  color: $foreground;
}

.navbar-logo {
  max-height: 2em;
}

// Navbar title with corner brackets animation
.navbar-title {
  transition: all .35s ease;
  display: inline-block;
  padding: .25em .4em;
  position: relative;
  font-weight: bolder;

  &::before,
  &::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }

  &::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid $foreground;
    border-right: 3px solid $foreground;
    transform: translate(-100%, 50%);
  }

  &:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid $foreground;
    border-left: 3px solid $foreground;
    transform: translate(100%, -50%);
  }

  &:hover {

    &:before,
    &:after {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}